<p><strong><%= comment.customer.name %></strong></p>
<p><%=safe_join(comment.comment.split("\n"),tag(:br))%></p>
<% if comment.customer == current_customer %>
  <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
<% end %>
<p><small><%= time_ago_in_words(comment.created_at) %>前</small></p>