 <div class="container"><br>
  <%= flash[:notice] %>
  <div class="row">
    <div class="card my-4">
      <%= image_tag "top3.jpg", size: "1100x600" %>
    </div>
      <p>このサイトは、介護に携わる人達が悩み事や相談事を投稿するサイトです。</p>
  </div>
</div>




